<!--
Copyright (C) 2014  Safehis
author : Adolfo Carpio
e-mail : adolfo.carpio@safehis.com

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>
-->
<h1 class="page-header">Pacientes</h1>

<div class="row">
	<div class="col-md-12">
		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nombre</th>
					<th>Apellidos</th>
					<th>Sexo</th>
					<th>Fecha de nacimiento</th>
				</tr>
			</thead>
			<tbody>
				{{#each patient in controller.model}}
					<tr>
						<td>{{#link-to "patient" patient}}{{patient.id}}{{/link-to}}</td>
						<td>{{patient.given}}</td>
						<td>{{patient.family}}</td>
						<td>{{patient.sex}}</td>
						<td>{{patient.birthDate}}</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>
