<!--
Copyright (C) 2014  Safehis
author : Adolfo Carpio
e-mail : adolfo.carpio@safehis.com

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>
-->
<h1 class="page-header">Paciente {{given}} {{family}}</h1>

<table class="table">
	<tr>
		<th>Nombre:</th>
		<td>{{given}}</td>
	</tr>
	<tr>
		<th>Apellido:</th>
		<td>{{family}}</td>
	</tr>
	<tr>
		<th>Sexo:</th>
		<td>{{sex}}</td>
	</tr>
	<tr>
		<th>{{identifierLabel}}:</th>
		<td>{{identifierValue}}</td>
	</tr>
	<tr>
		<th>Dirección:</th>
		<td>{{address}}</td>
	</tr>
	<tr>
		<th>Teléfono:</th>
		<td>{{phone}}</td>
	</tr>
</table>

<button class='btn btn-primary btn-corrected'>{{#link-to 'diagnostic_reports' id}}Mostrar exámenes de laboratorio{{/link-to}}</button>

{{outlet}}
