<h1 class="page-header">Paciente {{given}} {{family}}</h1>

<table class="table">
	<tr>
		<th>Nombre:</th>
		<td>{{given}}</td>
	</tr>
	<tr>
		<th>Apellido:</th>
		<td>{{family}}</td>
	</tr>
	<tr>
		<th>Sexo:</th>
		<td>{{sex}}</td>
	</tr>
	<tr>
		<th>{{identifierLabel}}:</th>
		<td>{{identifierValue}}</td>
	</tr>
	<tr>
		<th>Dirección:</th>
		<td>{{address}}</td>
	</tr>
	<tr>
		<th>Teléfono:</th>
		<td>{{phone}}</td>
	</tr>
</table>
